*{
  background:linear-gradient(pink blue);
}
html {
  scroll-behavior: smooth;
 
  
}

#main{
  height: 300px;
  border: 1px solid red;
}
.profile{
  box-shadow: white 0px 1px 1px;
}

.home{
  background: linear-gradient(25 135 255 255);
}
#navItem:active{
   background-color: yellow;
}
.t{
  transition: transform 1s;
 
}
.t:hover{
  transform: rotate(360deg);
}
.project-link{
  cursor: pointer;
  width: 60px;
  padding: 5px;
  text-align: center;
  background-color:rgb(26,32,44);
  border: 1px solid rgb(26,32,44);
  border-radius: 10px;
  text-decoration: none;
}
.project-link:hover{
  background-color: black;
  border: 1px solid white;
  text-decoration: none;
}
#form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
#form>input{
  background-color: black;
  height: 40px;
  outline-style: none;
  padding: 1rem;
  color: white;
}
::placeholder{
  color: aliceblue;
}

#form>textarea{
  background-color: black;
  padding: 1rem;
  color: white;
  outline: none;
}
#form>button{
  background-color:rgb(44,82,130);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
}
#git{
  color: rgb(8, 75, 142);
}
#git:hover{
  
  color: rgb(11,103,194);
}
#what{
color: green;
}
#what:hover{
  color: rgb(27, 181, 27);
}
#linkd{
  color: rgb(8, 75, 142);
}
#linkd:hover{
color: rgb(11,103,194);
}
#email{
color: yellow;
}
#email:hover{
  color: rgb(233, 247, 77);
}