*{
  background:linear-gradient(pink blue);
}
html {
  scroll-behavior: smooth;
 
  
}

#main{
  height: 300px;
  border: 1px solid red;
}
.profile{
  box-shadow: white 0px 1px 1px;
}

.home{
  background: linear-gradient(25 135 255 255);
}
#navItem:active{
   background-color: yellow;
}